.navbar-default {
	    background-color: #FF9800;
	    border-color: white;
	}

	.navbar-default .navbar-nav>li>a {
    color: white;
	}	
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: white;
	}
	.navbar-default .navbar-brand{
		color:white;
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    	border-color: transparent;
	}
	.navbar-default .navbar-toggle {
    	border-color: white;
    	background-color: white!important;
	}
	
	#contentarea{
		width:80%;
		margin:0 auto;
		padding:2%;
		background-color:white;
	}
	
	body{

    background-color: #F5F5F5;

	}
	
	.glyphicon-remove,.glyphicon-off{
		color:red;
	}
	.glyphicon-ok{
		color:#AEEA00
	}
	
	.glyphicon-user{
		color:blue;
	}

	
	input {
    width: 86%;
    display: block;
   	position:relative;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #5a5a5a;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }