@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.error {
	margin-top:8%;
	padding: 15px;
	border: 1px solid transparent;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	margin-top:8%;
	padding: 15px;
	border: 1px solid transparent;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.btn { margin-right: 7%; float:right; display: inline-block; *display: inline; *zoom: 1; padding: 7px 19px 7px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #ffffff; text-align: center;vertical-align: middle; background-color: #FF9800; border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: 30px;}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color:#EF6C00 ; }
.btn:hover { color: #ffffff; text-decoration: none; background-color: #EF6C00 background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }


* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

#title{
    background-color: #FF9800;
    margin-top: -7%;
    height: 25%;
    margin-bottom: 16%;
}

html { width: 100%; height:100%; overflow:hidden; }
body{

    background-color: #F5F5F5;

}
.login {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    width: 40%;
    height: 350px;
    background-color: #ffffff;
    
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; padding-top: 5%; }
input[name=password],input[name=username]{
	margin-left:7%;
    margin-bottom: 4%;
}
