img {
	width: 40%;
	height: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

#contexttable {
	margin: 0 auto;
	width: 60%;
}

#newCodeBtn {
	background-color: #689F38;
}

.btn {
	*zoom: 1;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	background-color: #FF9800;
	border-color: #e6e6e6 #e6e6e6 #e6e6e6;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	cursor: pointer;
	*margin-left: 30px;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	background-color: #EF6C00;
}

.btn:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #EF6C00 background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

td {
	width: 50%;
}

input {
	margin-bottom: 5%;
	display: inline;
}

#codekey {
	margin-bottom: 0;
}

#updateBtn {
	margin: 7%;
}