.btn {
	*zoom: 1;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	background-color: #FF9800;
	border-color: #e6e6e6 #e6e6e6 #e6e6e6;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	cursor: pointer;
	*margin-left: 30px;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	background-color: #EF6C00;
}

.btn:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #EF6C00 background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

#contexttable {
	margin: 0 auto;
	width: 65%;
}

#contexttable td:nth-child(1) {
	width: 30%;
}

#addTargetBtn {
	background-color: #689F38;
	margin-top: -20%;
}

#connectedBtn {
	margin-top: -20%;
}

.title_div {
	float: left;
	width: 15%;
}

#progressBar_div {
	margin: 5%;
}

.progress {
	width: 70%;
	height: 33px;
}

#progressBarCarbohydrates {
	background-color: #607D8B;
}

#progressBarMeatFish {
	background-color: #6D4C41;
}

#progressBarFruitVegetable {
	background-color: #239957;
}

#progressBarExercise {
	background-color: #00B0FF;
}

#more_detail_div {
	float: right;
}

#contexttable tr:nth-child(2) p, #contexttable tr:nth-child(4) p,
	#contexttable tr:nth-child(6) p, #contexttable tr:nth-child(8) p {
	font-size: 20px;
	margin-left: 5%;
	margin-top: -5%;
}

#contexttable tr:nth-child(1) p, #contexttable tr:nth-child(3) p,
	#contexttable tr:nth-child(5) p, #contexttable tr:nth-child(7) p {
	color: #757575;
}