#listKidsTable {
	counter-reset: rowNumber=-1;
}

#listKidsTable tr {
	counter-increment: rowNumber;
}

#listKidsTable tr td:first-child::before {
	content: counter(rowNumber);
	min-width: 1em;
	margin-right: 0.5em;
}

.navbar-form {
	width: 80%;
}

.navbar-form .input-group {
	width: 100%;
}

.pagination ul>li>a, .pagination ul>li>span {
	background-color: white;
	color: #FF9800;
	border-color: #FF9800;
}

.pagination ul>.active>a, .pagination ul>.active>span {
	background-color: #FF9800;
	color: white;
}

#footer {
	float: right;
	margin-top: 3%;
}

#tablewrapper table {
	background-color: white;
	border-bottom-color: #FF9800;
	margin-bottom: 0 !important;
}

.pagination {
	margin: 5px 0;
}

.pagination ul {
	display: block;
}

.results tr[visible='false'], .no-result {
	display: none;
}

.results tr[visible='true'] {
	display: table-row;
}